.jphf-dialog {
    padding: 0;
    border: 1px solid var(--jp-border-color1);
    border-radius: 0;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    width: 50em;
    height: 40em;
    overflow: visible;
    position: fixed;
    top: 100px;
    left: 100px;
    margin: 0;
    background: var(--jp-layout-color1);
    color: var(--jp-ui-font-color1);
    min-width: 150px;
    min-height: 100px;
    max-width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    container-type: inline-size;

    &[open] {
        display: flex;
    }
}

.jphf-resizer {
    position: absolute;
    z-index: 10;
}

.jphf-nav-bar {
    background: var(--jp-layout-color2);
    padding: 0.3em 1em;
    cursor: grab;
    display: flex;
    align-items: center;
    user-select: none;
    gap: 0.6em;

    & input[type="text"] {
        flex: 1;
        margin: 0 4em;
        min-width: 0;
        background: var(--jp-layout-color1);
        color: var(--jp-ui-font-color1);
        border: 1px solid var(--jp-border-color2);
        border-radius: 0;
        padding: 2px 4px;

        &:focus {
            outline: none;
            border: 1px solid var(--jp-brand-color1);
        }

        &::selection {
            background: var(--jp-editor-selected-background);
        }

    }
}

.jphf-dialog.jphf-dragging .jphf-nav-bar {
    cursor: grabbing;
}


.jphf-dialog-content {
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
}

.jphf-dialog footer {
    background: var(--jp-layout-color0);
    border-top: 1px solid var(--jp-border-color1);
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.jphf-button[disabled] {
    color: var(--jp-ui-font-color2);
    background: var(--jp-layout-color1);
    cursor: default;

    &:hover {
        color: var(--jp-ui-font-color2);
        background: var(--jp-layout-color1);
    }
}

.jphf-button:hover {
    color: var(--jp-ui-font-color0);
}

.jphf-select-button {
    color: var(--jp-ui-inverse-font-color1);
    background: var(--jp-brand-color1);

    &:hover {
        color: var(--jp-ui-inverse-font-color0);
    }
}

.jphf-icon-button {
    background: none;
    border: none;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    line-height: 0;

    & svg {
        width: 100%;
        height: 100%;
        display: block;
    }

    & path {
        fill: var(--jp-ui-font-color1) !important;
    }

    &:hover {
        background: var(--jp-layout-color3);

        & path {
            fill: var(--jp-ui-font-color0);
        }
    }

    &[disabled] {
        & path {
            fill: var(--jp-ui-font-color3) !important;
        }

        &:hover {
            & path {
                fill: var(--jp-ui-font-color3) !important;
            }

            background: none;
        }
    }
}

.jphf-close-button {
    border-radius: 50% !important;

    & svg {
        width: 75%;
        height: 75%;
    }

    &:hover {
        background: var(--jp-error-color2);
    }
}

.jphf-folder-view {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.jphf-file-table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    font-size: var(--jp-ui-font-size1);

    & td {
        padding-top: 0.15em;
        padding-bottom: 0.15em;
    }

    & td:first-child {
        padding-left: 0.5em;
    }

    & td:last-child {
        padding-right: 0.5em;
    }
}

.jphf-file-table th {
    background: var(--jp-layout-color0);
    color: var(--jp-ui-font-color1);
    text-align: left;
    user-select: none;
    border-bottom: 1px solid var(--jp-border-color1);

    position: sticky;
    top: 0;
    z-index: 1;

    &:nth-child(n+3) {
        border-left: 1px solid var(--jp-border-color1);
    }
}

.jphf-file-list-item {
    cursor: default;

    &:hover {
        background-color: var(--jp-layout-color2);
    }

    &[aria-selected="true"] {
        color: var(--jp-ui-inverse-font-color1);
        background-color: var(--jp-brand-color1);

        /* Emulate Jupyter's effects in the file browser: */

        & svg path.jp-icon-selectable,
        svg g.jp-icon-selectable {
            fill: #fff;
        }

        & svg path.jp-icon-selectable-inverse, svg g.jp-icon-selectable-inverse {
            fill: var(--jp-brand-color1);
        }
    }
}

.jphf-file-icon-cell {
    width: 1px; /* the svg will set the size */
    white-space: nowrap;
    padding-right: 0.5ch;

    & svg {
        display: block; /* place it in the center of the line */
    }
}

.jphf-file-name-cell {
    max-width: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jphf-file-size-cell {
    width: 1px;
    white-space: nowrap;
    text-align: right;
    padding-left: 1ch;
}

.jphf-file-modified-cell {
    width: 1px;
    white-space: nowrap;
    text-align: right;
    padding-left: 1ch;
}

@container (max-width: 400px) {
    .jphf-file-size-cell,
    .jphf-file-modified-cell {
        display: none;
    }
}

.jphf-loading {
    padding: 1em;
    color: var(--jp-ui-font-color2);
    font-style: italic;
}
