.my-dialog {
    padding: 0;
    border: 1px solid var(--jp-border-color1);
    border-radius: 4px;
    /*box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);*/
    width: 50em;
    height: 40em;
    overflow: hidden;
    position: fixed;
    top: 100px;
    left: 100px;
    margin: 0;
    background: var(--jp-layout-color1);
    color: var(--jp-ui-font-color1);
    min-width: 150px;
    min-height: 100px;
    max-width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
}

.resizer {
    position: absolute;
    z-index: 10;
}

.resizer.n {
    top: -5px;
    left: 0;
    right: 0;
    height: 10px;
    cursor: n-resize;
}

.resizer.s {
    bottom: -5px;
    left: 0;
    right: 0;
    height: 10px;
    cursor: s-resize;
}

.resizer.e {
    top: 0;
    bottom: 0;
    right: -5px;
    width: 10px;
    cursor: e-resize;
}

.resizer.w {
    top: 0;
    bottom: 0;
    left: -5px;
    width: 10px;
    cursor: w-resize;
}

.resizer.nw {
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    cursor: nw-resize;
}

.resizer.ne {
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    cursor: ne-resize;
}

.resizer.sw {
    bottom: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    cursor: sw-resize;
}

.resizer.se {
    bottom: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    cursor: se-resize;
}

.my-dialog::backdrop {
    background: rgba(0, 0, 0, 0.1);
}

.dialog-header {
    background: var(--jp-layout-color2);
    padding: 8px 12px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    border-bottom: 1px solid var(--jp-border-color1);
}

.dialog-content {
    padding: 16px;
    overflow: auto;
    height: calc(100% - 40px);
}

.my-dialog .close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0 5px;
    line-height: 1;
    color: black;
    transition: none;
    margin: 0;
}

.my-dialog .close-button:hover {
    color: red;
    transform: none;
}

.jphf-file-list-item[aria-selected="true"] {
    background-color: var(--jp-layout-color3);
}
