name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  formatting:
    name: Formatting and static analysis
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install prek
        run: uv tool install prek
      - run: prek run -a

  type-checking:
    name: Type checking
    needs: formatting
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install Node
        uses: actions/setup-node@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - run: uv run --group=dev mypy .

  tests:
    name: Tests
    needs: formatting
    uses: ./.github/workflows/test.yml
    with:
      os-variant: ubuntu-24.04
      python-version: '3.11'
